.menuLateral {
    grid-area: menu;
    background: #fff;
    overflow: hidden;
    a {
        display: block;
        padding: 15px 35px;
        color: #000;
        min-width: 800px;
        &:hover {
            background: #e5e5e5;
        }
        &.active {
            background: #e5e5e5;
            font-weight: bold;
            .fas {
                color: #ff0000;
            }
        }
    }
    .fas {
        color: #606060;
        margin-right: 32px;
        width: 20px;
        text-align: center;
    }
    hr {
        margin: 20px 0px;
        border: 1px solid #dfdfdf;
    }
}